{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>About us </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}
    <div class="content">
        <div class="section1">
            <img src="{% static 'images/logo1.png' %}" alt="banner" class="center" width=300 height=300>
        </div>

        <div class="section2">
            <div class="insidecontent">
                <h1> About Alora </h1>
                <p> Alora is dedicated to finding solutions to problems concerning dry cleaning and
                    laundry service companies and their customers. We have created a product that
                    alleviates the inconvenience of leaving your house to access laundry and dry
                    cleaning services to a task that can be done from the comfort of your home.  </p>

                <p style="font-size: 130%; font-weight: bold"> Alora allows you to: </p>
                <table class="abouttable">
                    <tr>
                        <td><img id="" src="{% static 'images/tick.png' %}" alt="Logo" class="center" width=30 height=30></td>
                        <td>Schedule pick and delivery for your laundry and dry cleaning needs with our partner companies.</td>
                    </tr>

                    <tr>
                        <td><img id="" src="{% static 'images/tick.png' %}" alt="Logo" class="center" width=30 height=30></td>
                        <td>Track your orders.</td>
                    </tr>

                    <tr>
                        <td><img id="" src="{% static 'images/tick.png' %}" alt="Logo" class="center" width=30 height=30></td>
                        <td>View information about your orders.</td>
                    </tr>

                     <tr>
                        <td><img id="" src="{% static 'images/tick.png' %}" alt="Logo" class="center" width=30 height=30></td>
                        <td>Get laundry and dry cleaning tasks done without leaving your home</td>
                    </tr>
                </table>

                <br>

                <P> Contact us to become part of the Alora team. We aim to give your Laundry
                    and/or Dry cleaning company the opportunity to expand and grow like never
                    before. As a partner company of laundry, we provide a platform that allows
                    you to expand your reach to your customers. We also allow you to manage your orders and pick up,
                    and delivery needs. </P>
            </div>
        </div>
    </div>

{% endblock %}
</body>