{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>About us </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}
    <div class="content">
        <div class="section1">
            <img src="{% static 'images/logo1.png' %}" alt="banner" class="center" width=300 height=300>
        </div>

        <div class="section2">
            <div class="insidecontent">
                <h1> About Alora </h1>
                <p> Alora is dedicated to finding solutions to problems
                    concerning companies and their customers. We guide companies through
                    deep analysis and studies and create revolutionary products that are
                    trusted and respected. Today, we seek to create a product that turns
                    the hassle of doing laundry into an easy task. Our focus is to provide our
                    customers with an easy way to manage their dry cleaning and laundry services. </p>

                <P> Contact us and become part of the Alora team. We aim to give your Laundry and/or Dry cleaning
                    company the opportunity to expand and grow like never before.</P>
            </div>
        </div>
    </div>

{% endblock %}
</body>