{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block styles %}
        <title>Account </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}


    <div id="accountpage">
        <div id="accountdiv">
            <div id="miniheader">
                <img id="mainicon" src="{% static 'images/account.png' %}" alt="account" class="center" width=100
                     height=100>
            </div>

            <div id="info">
                <p id="movedown"> Account</p>
                <button id="editbutton" type="submit"><a>Edit Account</a></button>
                <button id="editbutton" type="submit"><a href="/order-history/"> Order History </a></button>
                <button id="editbutton" type="submit"><a href="/password_change/"> Change Password</a></button>

            </div>
        </div>

    </div>

    <div id="accountinfo">
        <form method="post" id="editform">{% csrf_token %}
            {% for field in account_form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}
                <p style="color: gray; font-size: 80%;">{{ field.help_text }}</p>


                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <div>
                <button id="buttonstandard" type="submit">Save Changes</button>
            </div>

        </form>

    </div>
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.toggleenabled').prop('disabled', true);
            $(".toggleenabled").addClass("disabledfield");


            $('#editbutton').click(function () {
                // noinspection JSJQueryEfficiency
                if ($('.toggleenabled').prop('disabled')) {
                    $('.toggleenabled').prop('disabled', false);
                    $(".toggleenabled").removeClass("disabledfield");
                    $("#editbutton").html('Cancel');

                } else {
                    $('.toggleenabled').prop('disabled', true);
                    $(".toggleenabled").addClass("disabledfield");
                    $("#editform")[0].reset();
                    $("#editbutton").html('Edit Account');

                }
            });
        })
    </script>
{% endblock %}
</body>


</html>