{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block styles %}
    {% endblock %}
</head>

<body>
<header>
    <div id="navbar">
        <img id="icon" src="{% static 'images/logo.png' %}" alt="Logo" class="center" width=80 height=70>
        <nav class="mainnav">
            <ul>
                <li class="homepage"><a href="{% url 'home' %}">Home </a></li>
                <li class="homepage"><a href=/order/>Order Now</a></li>
                <li class="homepage"><a href=>Tracking</a></li>
                <li class="homepage"><a href=/services/>Services</a></li>
                <li class="homepage"><a href=/aboutus/>About Us </a></li>
                <li class="homepage"><a href=/contactus/>Contact Us </a></li>
                {% if request.user.is_authenticated %}
                    <li class="homepage"><a href="{% url 'logout' %}">Log out</a></li>

                {% else %}
                    <li class="homepage"><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
        </ul>
        <br/>
    </nav>
    </div>
</header>

{% block content %}
    Failed to replace content
{% endblock %}

 {% block script %}
 {% endblock %}
</body>
</html>