{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% load bootstrap4 %} {# imports bootstrap4 #}
    {% bootstrap_css %} {# Embeds Bootstrap CSS #}
    {% bootstrap_javascript %} {# Embeds Bootstrap JS #}
    {% block extrahead %}       {# Embeds Extra Resources #}
    {% endblock %}              {# Ends Extra Resources #}

    {% block styles %}

    {% endblock %}
</head>

<body>
 {% if user.is_manager != True and user.is_employee != True %}
<header>
    <div id="navbar">

        {% if  request.user.is_authenticated %}
            <a href=/main/><img id="icon" src="{% static 'images/logo.png' %}" alt="Logo" class="center" width=80 height=70></a>
        {% else %}
            <a href="{% url 'home' %}"><img id="icon" src="{% static 'images/logo.png' %}" alt="Logo" class="center" width=80 height=70></a>
        {% endif %}

        <nav class="mainnav">
            <ul>
                <li class="homepage"><a href="{% url 'home' %}">Home </a></li>

                {% if request.user.is_authenticated %}
                    <li class="homepage"><a href=/main/>Main</a></li>
                    <li class="homepage"><a href=/place-order/>Order Now</a></li>
                    <li class="homepage"><a href=/tracking/>Tracking</a></li>
                {% endif %}
                <li class="homepage"><a href=/services/>Services</a></li>
                <li class="homepage"><a href=/about-us/>About Us </a></li>

                {% if request.user.is_authenticated %}
                <li class="homepage"><a href=/contact-us/>Contact Us </a></li>
                    <li class="homepage"><a href=/account/>Account </a></li>
                {% endif %}

                {% if request.user.is_authenticated %}
                    <li class="homepage"><a href="{% url 'logout' %}">Log out</a></li>

                {% else %}
                    <li class="homepage"><a href="{% url 'login' %}">Log In</a></li>
                    <li class="homepage"><a href="{% url 'businesslogin' %}">Business Log In</a></li>
                {% endif %}

            </ul>
            <br/>
        </nav>

    </div>
</header>
     {% else %}
     <header>
    <div id="navbar">
        <img id="icon" src="{% static 'images/logo.png' %}" alt="Logo" class="center" width=80 height=70>

        <nav class="mainnav">
            <ul>
                {% if request.user.is_authenticated %}
                    <li class="homepage"><a href="{% url 'staffhome' %}">Home</a></li>
                    <li class="homepage"><a href=/business/currentorders/>Current Orders</a></li>
                    <li class="homepage"><a href=/business/storeorders/>Order History</a></li>
                    <li class="homepage"><a href=/account/>View Account</a></li>
                {% endif %}
                    {% if request.user.is_manager %}
                <li class="homepage"><a href=/business/company_services/>View Services</a></li>
                <li class="homepage"><a href=/business/generalinfo/>General Information</a></li>
                <li><a href="/business/feedback/">Customer Feedback</a></li>
                <li><a href="/business/staff/">View Staffs</a></li>

                        {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="homepage"><a href="{% url 'logout' %}">Log out</a></li>

                {% else %}
                    <li class="homepage"><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
            <br/>
        </nav>

    </div>
</header>
{% endif %}


{% block content %}
    Failed to replace content
{% endblock %}

{% block script %}
{% endblock %}

{% comment %}<footer class="footer">
</footer>{% endcomment %}

</body>
</html>