<!DOCTYPE html>
<html>
    <head>
        {%  block styles %}
        {%  endblock %}
    </head>

    <body>
    <header>
			<nav class= "mainnav">
			<ul>
				<li class="homepage"><a href= >Home </a> </li>
				<li class="homepage"><a href= >About </a></li>
				<li class="homepage"><a href= >Order Now </a></li>
				<li class="homepage"><a href=>Services</a></li>
				<li class="homepage"><a href=>Contact Us</a></li>
			</ul>
			<br />
			</nav>
		</header>

        {% block content %}
            replace me
        {% endblock %}
    </body>
</html>