{% extends 'base.html' %}
{% load static %}
<head>
        <title>Contact Us</title>
</head>

<body>
{% block content %}

    <div id="contactus">
        <h2> Contact Us </h2>
        <p> We love your feedback, leave us a message </p>
        <form method="post">{% csrf_token %}
            {% for field in feedback_form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
            {% endfor %}
            <div>
                <button id="buttonstandard" type="submit">Submit</button>
            </div>

        </form>

    </div>

{% endblock %}

</body>