{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>Contact Us</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">

    {% endblock %}
</head>

<body>
     {% block content %}

            <div id="contactus" >
			<h2> Contact Us </h2>
			<p> We love your feedback, leave us a message </p>
			<form>
				<input type="text" name="firstname" placeholder="First Name "><br>
				<input type="text" name="lastname" placeholder="Last Name"><br>
				<input type="text" name="email" placeholder="Email"><br>
				<select id="service" name="Service"  >
                    <option value=" " disabled selected hidden> Select service </option>
                    <option value="Laundry">Laundry</option>
                    <option value="Dry Cleaning">Dry Cleaning</option>
				</select><br>
				<textarea id="subject" name="Message"
				placeholder="Write something.." style="height:170px"></textarea>
			</form>


			<div >
				<button id="buttonstandard" width="40%" type="submit">Submit</button>
			</div>

		</div>

     {% endblock %}

</body>
</html>