{% extends 'base.html' %}
{% load static %}
<head>
    {% block styles %}
        <title>Contact Us</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}
     <div class="moveright">
        <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center" width=40 height=40>
          <span class="popuptext" id="myPopup">

                <p> Click the drop down field to select a store for your intended message. </p>
                <p> Enter the subject of the matter in the text box labeled "Enter your subject". e.g. "Laundry" or "Dry Cleaning"</p>
                <p> Type your message in the text box labeled "We welcome your feedback".</p>
                <p> Click "Submit" to send your message.</p>
              <hr>

          </span>
        </div>

    </div>
    <div class="contactbackground">
    <div class="contactpage">
    <div id="contactus">
        <h2> Contact Us </h2>
        <p> We love your feedback, leave us a message </p>
        <form method="post">{% csrf_token %}
            {% for field in feedback_form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
            {% endfor %}
            <div>
                <button id="buttonstandard" type="submit">Submit</button>
            </div>

        </form>
    </div>
    </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'script/popup.js' %}"></script>
{% endblock %}
</body>