{% extends 'base.html' %}
{% load static %}
<head>
    <title>Contact Confirmation</title>
</head>

<body>
{% block content %}

    <div class="confirm">
        <img id="confirmicons" src="{% static 'images/contactcheck.png' %}" alt="Logo" class="center" width=120
             height=120>
        <h2> Message Sent Confirmed!</h2>
        <p> Thank you for contacting Alora customer service team. We have received your message
            and will respond within 24 hrs. Thank you for being a valuable customer!</p>
        <div id="buttonconfirm">
            <p><a href="/contactus/"> Go Back </a></p>
        </div>
    </div>


{% endblock %}
</body>