{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block styles %}
        <title>Account </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}

    <div class="moveright">
        <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center" width=40 height=40>
          <span class="popuptext" style="width: 400px" id="myPopup">

                <p>Welcome to Edit Address!</p>
                <p> Enter your street name in the field labeled "Street". e.g. 467 Bloomfield Ave </p>
                <p> Enter your apt/suite number in the field labeled "APT/Suite". e.g. 100 </p>
                <p> Enter your the name of your city in the field labeled "City". e.g. Bloomfield </p>
                <p> Click the drop down field and select a state in the field
                labeled "Select a State". e.g. New Jersey  </p>
                <p> Enter your zip code in the field labeled "Zip Code". e.g. 07003  </p>
                <p> Click the "Save Changes" button to save your changes. </p>
                <p> Click the "Back" button to go back to your account. </p>
              <hr>

          </span>
        </div>
    </div>

    <div class="editaddress">
        <h1> Edit Your Address</h1>
        <form method="post" id="editform">{% csrf_token %}
            {% for field in Edit_Address_form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}
                <p style="color: gray; font-size: 80%;">{{ field.help_text }}</p>


                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <div>
                <button id="buttonstandard" type="submit">Save Changes</button>
                <button id="editbutton" style="width:55%; padding:6px;" type="submit"><a href="/account/">Back</a></button>
            </div>

        </form>

    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'script/popup.js' %}"></script>
{% endblock %}

</body>
</html>