{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block styles %}
        <title>Edit account </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">

    {% endblock %}
</head>

<body>
{% block content %}

    <div id="accountpage">
        <div id="accountdiv">
            <div id="miniheader">
                <img id="mainicon" src="{% static 'images/account.png' %}" alt="account" class="center" width=100
                     height=100>
            </div>

            <div id="info">
                <p> Account</p>
                <button id="editbutton" type="submit"> Edit </button>
                <button id="editbutton" type="submit"> <a href="/orderhistory/"> Order History </a></button>

            </div>
        </div>

    </div>

    <div id="accountinfo">
        <form method="post">{% csrf_token %}
            {% for field in account_form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <div>
                <button id="buttonstandard" type="submit">Save Changes</button>
            </div>

        </form>

    </div>
{% endblock %}
</body>
</html>