{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>Alora </title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">

    {% endblock %}
</head>

<body>
{% block content %}

    <img id="mainpageicon" src="{% static 'images/logo.png' %}" alt="Logo" class="center" width=500 height=500>

    <br/>
    <br/>

    <div id="buttonmain">
        <p><a href="/login/">Sign In </a></p>
    </div>


{% endblock %}
</body>