{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Alora </title>

        {% block styles %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% endblock %}
    </head>

    <body>
    {% block content %}

        <img id="mainpageicon" src="{% static 'images/logo.png' %}" alt="Logo" class="center" width=500 height=500>

        <br/>
        <br/>

        <div id="buttonmain">
            <p><a href="sign_up">Sign In </a></p>
        </div>


        <footer class="footer">
        </footer>
    {% endblock %}
    </body>
</html>