{% extends 'base.html' %}
{% load static %}

<head>
    {% block styles %}
        <title>Alora Login </title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}
    <div id="signin">
        <img id="signinicon" src="{% static 'images/logo.png' %}" alt="Logo" class="center" width=70 height=70>
        <p> Sign In </p>

        <form method="post">{% csrf_token %}
            {% for field in login_form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}

                {% if login_form.non_field_errors %}
                    <div style="color: red;">
                        <p>{{ login_form.non_field_errors }}</p>
                    </div>
                {% endif %}
            {% endfor %}
            <button id="buttonstandard" type="submit">Log In</button>
        </form>
        <p><a href="" class="makesmall">Forgot your password ?</a></p>
        <p><a href="/signup/" class="makesmall">Sign Up </a></p>
    </div>





    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

{% endblock %}
</body>