{% extends 'base.html' %}
{% load static %}
<head>
    {% block styles %}
        <title>Main Page </title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}

    <h1 id="welcome"> Welcome to Alora, {% if user.is_authenticated %} {{ request.user }} {% else %}Guest{% endif %}</h1>

    <div id="mainpagenav" class="center">
         <div id="mainpage">
            <div id="miniheader">
                <img id="mainicon" src="{% static 'images/account.png' %}" alt="account" class="center" width=75
                     height=75>
            </div>

            <div id="info">
                <p><a href=/edit_account/> Account </a></p>
                <p class="info">Customize your experience</p>
            </div>

        </div>

        <div id="mainpage">
            <div id="miniheader">
                <img id="mainicon" src="{% static 'images/order.png' %}" alt="account" class="center" width=70
                     height=70>
            </div>

            <div id="info">
                <p><a href=\order\> Place Order </a></p>
                <p class="info">We would love to do your dry cleaning and laundry. Place an order today
                    and experience a cleaning service like no other.</p>
            </div>

        </div>

        <div id="mainpage">
            <div id="miniheader">
                <img id="mainicon" src="{% static 'images/tracking.png' %}" alt="account" class="center" width=70
                     height=70>
            </div>

            <div id="info">
                <p><a href=>Tracking </a></p>
                <p class="info">See the process of your dry cleaning and laundry. Alora keeps you up to date.</p>
            </div>

        </div>
    </div>

{% endblock %}

</body>
