{% extends 'base.html' %}
{% load static %}

<head>

    {% block styles %}
        <title>Services </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

]{% block content %}
<body>

    <div class="services">
        <div class="servicesec1">
            <div class="sec1text">
                <p> Here at Alora we connect you to dry cleaning and laundry services at your finger tips !</p>
                <div id="serviceprice">
                    <p><a href="#servicesec3"> Find Prices </a></p>
                </div>
            </div>
        </div>
        <div class="servicesec2">
             <img src="{% static 'images/icon.png' %}" alt="banner" class="center" width=400 height=400>
        </div>
    </div>

    <div class="servicesec3" id="servicesec3">
        <form id="searchbar"  method="get">

            <label for="company">Company</label>
                <select id="company" name="company" >
                    <option value=""> ------</option>
                    {% for store in stores %}
                    <option value="{{ store }}">{{ store }}</option>
                   {% endfor %}
                </select>

            <div>
                <button id="buttonstandard" type="submit">Search</button>
            </div>
        </form>

          {% for service in services %}
                <h3> {{ service }} </h3>
        {% endfor %}

    </div>

</body>
{% endblock %}
</html>