{% extends 'base.html' %}
{% load static %}

<head>

    {% block styles %}
        <title>Services </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

]{% block content %}
<body>
    <div class="moveright">
        <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center" width=40 height=40>
          <span class="popuptext" id="myPopup">

              <p> Click "Find Prices" to discover laundry and dry cleaning prices at our partner companies.</p>
              <p> Click on the drop down to choose a store.</p>
              <p> Click "Search" to view their prices.</p>

              <hr>

          </span>
        </div>
    </div>

    <div class="servicespage">

    <div class="services">
        <div class="servicesec1">
            <div class="sec1text">
                <p> Here at Alora we connect you to Dry cleaning and Laundry services at your finger tips !</p>
                <div id="serviceprice">
                    <p><a href="#findprice"> Find Prices </a></p>
                </div>
            </div>
        </div>
        <div class="servicesec2">
             <img src="{% static 'images/icon.png' %}" alt="banner" class="center" width=400 height=400>
        </div>
    </div>

    <div class="servicesec3" id="servicesec3">

            <div class="searchprice"  id="findprice" >
                <form id="searchbar" method="get">

                        <h1 style="font-size: 180%">Company</h1>
                        <select id="company" name="company">
                             <option value="" disabled selected>Select Company</option>
                            {% for store in stores %}
                            <option value="{{ store }}">{{ store }}</option>
                           {% endfor %}
                        </select>

                    <div>
                        <button id="buttonstandard" type="submit">Search</button>
                    </div>
                </form>
            </div>

            <div class="servicespopup">

            <div>
                <h3 id="servicehead"> Company Information</h3>
                <table class="servicestable" >
                    <tr>
                        <th> Company Name</th>
                        <td>{{company.name}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td> {{ company.address }}</td>
                    </tr>
                </table>
            </div>

           {% for service in services %}
                <h3 id="servicehead"> {{ service }} </h3>
                <table class="servicestable">
                         <tr>
                             <th>Item</th>
                             <th> Price</th>
                         </tr>

                    {% for itemlist in itemsQuery %}
                        {% for item in itemlist %}
                            {% if item.services == service %}
                                <tr>
                                    <td>{{item}}</td>
                                    <td> {{ item.price }}</td>
                                 </tr>

                            {% endif%}
                        {% endfor %}

                        {% endfor %}
                 </table>
            {% endfor %}
            </div>

    </div>
    </div>
</body>
{% endblock %}

{% block script %}
    <script src="{% static 'script/popup.js' %}"></script>
{% endblock %}

</html>