{% extends 'base.html' %}
{% load static %}

<head>
    {% block styles %}
        <title>Alora Login </title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

]{% block content %}
<body>
        <div class="headingpara" >
            <p> Here at Alora we connect you to to dry cleaning and laundry services at your finger tips</p>
            <p> Here are the services we offer:</p>
        </div>
</body>
{% endblock %}
</html>