{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<head>
    {% block styles %}
        <title>Alora Sign Up </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">

    {% endblock %}
</head>

<body>

{% block content %}
    <div id="signup">
        <img id="signupicon" src="{% static 'images/logo.png' %}" alt="Logo" class="center" width=70 height=70>
        <p> Sign Up </p>
        <form method="post">{% csrf_token %}
            {% for field in registration_form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                    {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <div>
                <button id="buttonstandard" type="submit">Sign Up</button>
            </div>

        </form>


        <p><a href="" class="makesmall">By signing up you agree to our Terms &amp; Conditions </a></p>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


    <footer class="footer">
    </footer>
{% endblock %}
</body>