<!DOCTYPE html>
<html>

	<head>
		<title>Alora Sign Up </title>
		<link rel="stylesheet" href="style.css" >
	</head>

	<body>

		<header>
			<nav class= "mainnav">
			<ul>
				<li class="homepage"><a href= >Home </a> </li>
				<li class="homepage"><a href= >About </a></li>
				<li class="homepage"><a href= >Order Now </a></li>
				<li class="homepage"><a href=>Services</a></li>
				<li class="homepage"><a href=>Contact Us</a></li>
			</ul>
			<br />
			</nav>
		</header>

		<div id="signup" >
			<img id="signupicon" src= "images/logo.png" alt="Logo" class="center" width= 70 height= 70>
			<p> Sign Up </p>
			<form>
				<input type="text" name="firstname" value="Username"><br>
				<input type="text" name="lastname" value="Password"><br>
				<input type="text" name="email" value="Email"><br>
				<input type="text" name="address" value="Address"><br>
				<input type="text" name="password" value="Password"><br>
				<input type="text" name="reenterpassword" value="Re-enter Password"><br>
			</form>


			<div id="button">
			<p><a href= "mainpage.html"> Sign Up </a> </p>
			</div>

			<p> <a href= "" class="makesmall" >By signing up you agree to our Terms &amp; Conditions </a></p>
		</div>



		<br />
		<br />
		<br />
		<br />
		<br />


		<footer class="footer">
		</footer>
	</body>
</html>