{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>Alora </title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">

    {% endblock %}
</head>

<body>
{% block content %}
    <h1 id="vieworder"> Order Details </h1>
    <div class="vieworder">

    </div>
    <div id="buttonmain">
        <p><a href="/orderconfirm/"> Confirm Order </a></p>
    </div>

    <footer class="footer">
    </footer>
{% endblock %}
</body>