{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>Password Reset </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>

{% block content %}

    <div class="moveright">
    <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center" width=40 height=40>
      <span class="popuptext" id="myPopup">

            <p> Welcome to password reset. </p>
            <p> Enter your email address in the "Email Address" field. </p>
            <p> Click "Send reset email"</p>
            <p> A password recovery email will be sent to your email to recover your password. Please note
            that you must enter the correct email associated with your account.</p>
          <hr>

      </span>
    </div>
    </div>

    <div class="resetpage">
    <div class="reset">
        <form method="POST" class="form-signin">{% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
            <img id="confirmicons" src="{% static 'images/passwordreset.png' %}" alt="Logo" class="center" width=120
             height=120>
            <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
            <p><button id="secondmainbutton" class="btn btn-lg btn-primary btn-block" type="submit">Send reset email</button></p>
        </form>
    </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'script/popup.js' %}"></script>
{% endblock %}

</body>