{% extends 'base.html' %}
{% load static %}
<head>


    {% block styles %}
        <title>Password Change</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}

     <div class="moveright">
            <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center" width=40 height=40>
              <span class="popuptext" id="myPopup">

                    <p> Welcome to change your password! </p>
                    <p> Enter your old password in the field labeled "Old password"</p>
                    <p> Enter your new password in the field labeled "New password" field</p>
                    <p> Enter your new password in the field labeled "Confirm password" to confirm your new password.</p>
                    <p> Click the "Update" button to confirm your change.</p>
                    <p> When creating a new password ensure that it is 8 characters long and contains capitalization and special characters.</p>
                  <hr>

              </span>
            </div>
        </div>

    <div class="changepasspage">
    <div class="changepass">
    <form method="POST" class="form-signin">{% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>

        <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password"
               required="true">
        <input name="new_password1" class="form-control" placeholder="New password" type="password"
               id="id_new_password1" required="true">
        <input name="new_password2" class="form-control" placeholder="Confirm password" type="password"
               id="id_new_password2" required="true">

        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}

        <p>
            <button id="secondmainbutton" class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
        </p>
    </form>
    </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'script/popup.js' %}"></script>
{% endblock %}

</body>