{% extends 'base.html' %}
{% load static %}
<head>
        <title>Password change done </title>
</head>

<body>

{% block content %}

<div class="container">
	<div class="d-flex flex-column">
        <img id="confirmicons" src="{% static 'images/contactcheck.png' %}" alt="Logo" class="center" width=120
             height=120>
		<p class="m-auto">Your password has been Updated.</p>
        <button id="secondmainbutton" type="submit"><a href="/edit_account/"> Return to account</a></button>
	</div>
</div>

{% endblock %}

</body>