{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>Password Reset Done</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}

    <div class="resetpage">
    <div class="reset">

        <div class="d-flex flex-column">
            <img id="confirmicons" src="{% static 'images/ordercheck.png' %}" alt="Logo" class="center" width=120
                 height=120>
        <p class="m-auto p-2">
        We've emailed you instructions for setting your password. If an account exists with the email you entered.
        You should receive them shortly.
        </p>
        <p class="m-auto p-2">
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
        </p>
        <button id="secondmainbutton" style="width: 40%;" type="submit"><a href="{% url 'home' %}"> Return to home page</a></button>
	</div>
    </div>
</div>

{% endblock %}
</body>