{% extends 'base.html' %}
{% load static %}

<head>

    {% block styles %}
        <title>Password reset complete</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}

    <div class="moveright">
        <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center" width=40 height=40>
          <span class="popuptext" id="myPopup">

              <p> Reset your password!</p>
              <p> Click in the field labeled "New Password", type your new password.</p>
              <p> Click in the field labeled "New Password Confirmation", re-type your new password.</p>
              <p> Click "Reset password" to reset your password.</p>

              <hr>

          </span>
        </div>
    </div>

    <div class=".changepasspage">
        <h1 id="headinghistory">Reset Password</h1>

         <div class="changepass">
            <form class="form" action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
            <button id="secondmainbutton" style="width: 25%" type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Reset Password</button>
            </form>
         </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'script/popup.js' %}"></script>
{% endblock %}
</body>