{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>Order</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">

    {% endblock %}
</head>

<body>
{% block content %}

    <div id="">
    <h2>Select the services you need</h2>
    <form>

        <label for="subject">Laundry Method</label>
        <select id="meathod" name="Laundry Method">
            {% for serv in services %}
            <option  name = "itemtype" value={{ serv.service_Type }}>{{ serv.service_Type }}</option>
            {% endfor %}
        </select><br>


        <label for="subject">Item</label>
        <select id="Address" name="Clothing type">
            <option name = "name" value={{ service.pk }}>{{service.service_Name  }}</option>
        </select>
        <p><a href="">ADD </a></p>
        <br>

        <label for="subject">Order Method</label>
        <select id="mathod" name="Order Method">
            <option value="Laundry">Drop Off</option>
            <option value="Dry Cleaning">Pick up & Delivery</option>
        </select><br>

    </form>
    </div>

    <div id="buttonmain">
        <p><a href="/orderdestination/">Select Location </a></p>
    </div>

{% endblock %}

</body>