{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>Order History</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">

    {% endblock %}
</head>

<body>
{% block content %}

    <table class="orderhistorytable" >
        <tr>
            <th> Order ID</th>
            <th> Order Status</th>
            <th> Date</th>
            <th> Pick Up Location </th>
            <th> Drop Off Location </th>
            <th> Pick Up Time </th>
            <th> Drop Off Time </th>
            <th> Store Name</th>
        </tr>


        /*load order details information on the database */
        {% for i in orders_order %}
            <tr>
                <td> {{ i.id }}</td>
                <td> </td>
                <td> </td>
                <td> {{ i.pickup_Location }}</td>
                <td> {{ i.dropoff_location }}</td>
                <td> {{ i.pickup_Time  }}</td>
                <td> {{ i.dropOff_Time  }}</td>
                <td></td>
            </tr>
        {%  endfor %}

    </table>
    <div id="buttonmain">
        <p><a href="/edit_account/"> Back </a></p>
    </div>

{% endblock %}
</body>