{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>View Order </title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">

    {% endblock %}
</head>

<body>
{% block content %}
    <h1 id="viewordertitle"> Order Details </h1>
    <div class="vieworder">

            {%for key ,value in item.items  %}
                {%if  forloop.counter > 1  %}
                <p>{{ key}} : {{ value }}</p>
                {% endif %}
            {% endfor %}
    </div>
    <div id="buttonmain">
        <p><a href="/orderconfirm/"> Confirm Order </a></p>
    </div>
{% endblock %}
</body>