@font-face {
    font-family: Lato;
    /*src:'{% static 'Lato/Lato-Regular.ttf' %}';*/
    src: url('../Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Bold;
    /*src:'{% static 'Lato/Lato-Regular.ttf' %}';*/
    src: url('../Lato/Lato-BoldItalic.ttf');
}

html {
    background-color: #F7E498;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #F7E498;
    margin: 0;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.businessnav ul li img{
    padding-top: 30px;
    padding-bottom: 30px;
}

.businessnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color:#FF9920;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.businessnav ul li a{
    display: block;
    color: black;
    padding: 10px 16px;
    font-size: 120%;
    text-decoration: none;
}

.businessnav li a.active {
  background-color:#FFCF3B;
  color: white;
}

.businessnav li a:hover:not(.active) {
  background-color: #FF5733;
  color: white;
}

.indexpage{
    background-image: url('../images/background4.jpg') ;
    background-size: cover;
    padding:50px;
}

.generalbackground{
    background-image: url('../images/background4.jpg') ;
    background-size: cover;
    height:200px;
}

#welcome{
    padding-top: 30px;
}

.content{
    margin-left: 20%;
    padding: 1px 0px;
    height: 800px;
}

#h1generalinfo{
    padding-top: 50px;
    text-align: center;
    font-size: 200%;
}

#pcenter{
    text-align: center;
    padding-bottom: 50px;
}

.content .section1{
    background-color: #FFD555;
    height: 650px;
}

.content .section2{
    background-color: #FFE081;
    height: 650px;
}

.content .section3{
    background-color: #FFD555;
    height: 650px;
}

.content h1 {
    text-align: center;
    font-family: "Lato-Bold", sans-serif;
    font-size: 200%;
}

.insidecontent{
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    padding-left: 20%;
    padding-right: 20%;
}

.insidecontent h1{
    text-align: left;
    margin-bottom: 30px;
}

/******* Tracking Info **********/
.trackinginfo {
    margin: auto;
    width: 110%;
    margin-bottom: 50px;
    border-collapse: collapse;
}

.trackinginfo td, .trackinginfo th {
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

.trackinginfo th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

.shiftright {
    padding-left: 50px;
}


td a{
    color: #FF5733;
}


/****** Search Form *******/

.searchpart1 {
    float: left;
    margin-left: 5%;
}

#searchbar input[type=text] {
    width: 79%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 17px;
    border: none;
}

.searchpart1 button {
    float: right;
    padding: 3px 7px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
}

.searchpart1 button:hover {
    background: #ccc;
}

/******************* Current Order Page ****************************/

.currentOrders {
    margin-left: 20%;
    padding: 1px 0px;
    height: 1000px;
}

.insidecurrent {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.insidecurrent h1 {
    text-align: center;
}

/****** Table CSS ********/

.currentOrdersTable {
    margin: auto;
    width: 90%;
    margin-bottom: 50px;
    border-collapse: collapse;
}

.currentOrdersTable td, .currentOrdersTable th {
    border: 2px solid black;
    padding: 20px;
}

.currentOrdersTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    background-color:#FF9920;
}

/******* Order Details Page **********/

.detailspage{
    margin-left: 20%;
    padding: 1px 0px;
    height: 800px;
}

.detailscontent{
    width: 80%;
    margin:auto;
}

.contentadd{
    float: left;
    border: 3px solid black;
    padding: 20px;
    width: 42%;
    margin: 10px;
    margin-bottom: 50px;
    height: 400px;
}
.detailscontent h1{
    text-align: center;
}

.orderDetailsTable {
    margin: auto;
    width: 70%;
    margin-bottom: 50px;
    border-collapse: collapse;
}

.orderDetailsTable td, .orderDetailsTable th {
    border: 2px solid black;
    padding: 20px;
}

.orderDetailsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    background-color:#FF9920;
}


/******* Store Order history Page **********/
.storeOrderHistoryTable {
    margin: auto;
    width: 90%;
    margin-bottom: 50px;
    border-collapse: collapse;
}

.storeOrderHistoryTable td, .storeOrderHistoryTable th {
    border: 2px solid black;
    padding: 15px;
}

.storeOrderHistoryTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    background-color:#FF9920;
}


/************** Services Page *****************/

.servicespage{
    margin-left: 20%;
    padding: 1px 0px;
    height: 800px;
}

.servicecontent{
    width: 70%;
    margin:auto;
}

.servicecontent h1{
    text-align: center;
}

.servicestable {
    width: 70%;
    margin-bottom: 50px;
    border-collapse: collapse;
}

.servicestable td, .servicestable th {
    border: 2px solid black;
    padding: 15px;
}

.servicestable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    background-color:#FF9920;
}

.contentaddservice{
    float: left;
    border: 3px solid black;
    padding: 20px;
    width: 42%;
    margin: 10px;
    margin-bottom: 50px;
    height: 400px;
}

.center{
    text-align: center;
}

/************** Add Items ****************/

.insideadditems h2 {
    text-align: center;
}

#addbutton{
    position: center;
    background-color: #FF9920;
    display: block;
    color: white;
    width: 20%;
    border: 1px solid #FF9920;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
}


/***** Add Items button *****/
.additem{
    border: none;
    background-color: #FF9920;
    width: 20%;
    border-radius: 50%;
    padding: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: right;
    margin:auto;
    margin-bottom: 5%;
}

.additem p{
    text-align: center;
}

.additem p a{
    color: black;
    text-decoration: none;
}
.additem p a:hover{
    color: white;
}


/**************** form fields **********************/

form{
    text-align: center;
}
select{
    position: center;
    background-color: white;
    color: grey;
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #FFCF3B;
    border-radius: 4px;
    padding-left: 20px;
}

label {
    display: block;
    text-align: left;
    margin-left: 15%;
}

input[type=text], input[type=number]{
    position: center;
    background-color: white;
    color: black;
    width: 75%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #FFCF3B;
    border-radius: 4px;
    padding-left: 20px;
}






