@font-face {
    font-family: Lato;
    /*src:'{% static 'Lato/Lato-Regular.ttf' %}';*/
    src: url('../Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Bold;
    /*src:'{% static 'Lato/Lato-Regular.ttf' %}';*/
    src: url('../Lato/Lato-BoldItalic.ttf');
}

html {
    background-color: #F7E498;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #F7E498;
    margin: 0;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.businessnav ul li img{
    padding-top: 30px;
    padding-bottom: 30px;
}

.businessnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color:#FF9920;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.businessnav ul li a{
    display: block;
    color: black;
    padding: 10px 16px;
    font-size: 120%;
    text-decoration: none;
}

.businessnav li a.active {
  background-color:#FFCF3B;
  color: white;
}

.businessnav li a:hover:not(.active) {
  background-color: #FF5733;
  color: white;
}

#welcome{
    padding-top: 30px;
}

.content{
    margin-left: 20%;
    padding: 1px 0px;
    height: 1000px;
}

#h1generalinfo{
    padding-top: 50px;
    text-align: center;
    font-size: 200%;
}

#pcenter{
    text-align: center;
    padding-bottom: 50px;
}

.content .section1{
    background-color: #FFD555;
    height: 650px;
}

.content .section2{
    background-color: #FFE081;
    height: 650px;
}

.content .section3{
    background-color: #FFD555;
    height: 650px;
}

.content h1 {
    text-align: center;
    font-family: "Lato-Bold", sans-serif;
    font-size: 200%;
}

.insidecontent{
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    padding-left: 20%;
    padding-right: 20%;
}

.insidecontent h1{
    text-align: left;
}

table{
    padding: 20px;
}

th, td{
    border: 1px solid black;
}

td {
    padding: 5px;
}

.shiftright {
    padding-left: 50px;
}


/****** Search Form *******/
form {
    text-align: left;
    margin-left: 8%;
}

input[type=text], input[type=email], input[type=password] {
    position: center;
    background-color: white;
    color: black;
    width: 40%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #FF5733;
    border-radius: 4px;
    padding-left: 20px;
}

/******************* Current Order Page ****************************/

.currentOrders {
    margin-left: 20%;
    padding: 1px 0px;
    height: 1000px;
}

.insidecurrent {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.insidecurrent h1 {
    text-align: center;
}

/****** Table CSS ********/

.currentOrdersTable {
    margin: auto;
    width: 90%;
    margin-bottom: 50px;
    border-collapse: collapse;
}

.currentOrdersTable td, .currentOrdersTable th {
    border: 2px solid black;
    padding: 20px;
}

.currentOrdersTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

/******* Order Details Page **********/
.orderDetailsTable {
    margin: auto;
    width: 70%;
    margin-bottom: 50px;
    border-collapse: collapse;
}

.orderDetailsTable td, .orderDetailsTable th {
    border: 2px solid black;
    padding: 20px;
}

.orderDetailsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}


/******* Store Order history Page **********/
.storeOrderHistoryTable {
    margin: auto;
    width: 90%;
    margin-bottom: 50px;
    border-collapse: collapse;
}

.storeOrderHistoryTable td, .storeOrderHistoryTable th {
    border: 2px solid black;
    padding: 15px;
}

.storeOrderHistoryTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}