html {
    background-color: #FFCF3B;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #FFCF3B;
    margin: 0;
}

a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    background-color: #FF9920;
    border-radius: 15px;
}


/*@font-face {
    font-family: Lato;
    /*src:'{% static 'Lato/Lato-Regular.ttf' %}';
    src: url('../Lato/Lato-Regular.ttf');
*/

@font-face {
    font-family: Lato;
    /*src:'{% static 'Lato/Lato-Regular.ttf' %}';*/
    src: url('../Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Bold;
    /*src:'{% static 'Lato/Lato-Regular.ttf' %}';*/
    src: url('../Lato/Lato-BoldItalic.ttf');
}


header {
    margin-bottom: 150px;
}

#navbar {
    background-color: #FF5733;
    position: fixed;
    width: 100%;
    top: 0;
    margin: auto;
    padding: 0px;
    overflow: hidden;

}

.mainnav {
    float: right;
    width: auto;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 10px;
    overflow: hidden;
}

.mainnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mainnav li {
    float: left;
}


/* icon left
.mainnav li img{
 margin-right: 0px;
}
*/

.mainnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.mainnav li a:hover {
    background-color: #FF9920;
    border-radius: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

/*
	CSS for sign in page
*/

#signin {
    position: center;
    background-color: #FF9920;
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 15px;
}

#signinicon {
    padding-top: 15px;
}

#signin p {
    text-align: center;
    font-size: 140%;
    padding: 0;
}

#signin p a {
    color: grey;
}

.makesmall {
    font-size: 80%;
}

form {
    text-align: center;
}

input[type=text], input[type=email], input[type=password] {
    position: center;
    background-color: white;
    color: grey;
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #FF5733;
    border-radius: 4px;
    padding-left: 20px;
}


/*
	CSS for sign up page
*/

#signup {
    position: center;
    background-color: #FF9920;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 15px;
}

#signupicon {
    padding-top: 15px;
}

#signup p {
    text-align: center;
    font-size: 140%;
    padding: 0;
}

#signup p a {
    color: grey;
}

/*
	Button CSS
*/

#button {
    position: center;
    background-color: #FF5733;
    display: block;
    color: white;
    width: 55%;
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1px;
}

#button p {
    padding: 15px;
    margin: 0px;
    font-size: 80%;
}


#buttonmain {
    position: center;
    background-color: #FF5733;
    display: block;
    color: white;
    width: 15%;
    padding: 12px 20px;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1px;
}

#buttonstandard {
    position: center;
    background-color: #FF5733;
    display: block;
    color: white;
    width: 55%;
    border: 1px solid #FF5733;
    padding: auto;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;
}

#editbutton {
    position: center;
    background-color: #FF5733;
    display: block;
    color: white;
    width: 70%;
    border: 1px solid #FF5733;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;
}

#buttonmain p {
    text-align: center;
    padding: 15px;
    margin: auto;
    font-size: 100%;
}

#buttonconfirm {
    position: center;
    background-color: #FF5733;
    display: block;
    color: white;
    width: 30%;
    border: 1px solid #FF5733;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
}

#buttonconfirm p {
    text-align: center;
    padding: 5px;
    margin: auto;
    font-size: 80%;
}

#buttonconfirm  p a{

}



/*
Main page css
*/

#icon {
    float: left;
    overflow: hidden;
    padding-left: 15px;
    padding-top: 5px;
}

#welcome {
    text-align: center;
    overflow: hidden;
}

#mainpagenav {
    margin: auto;
    margin-left: 23%;
    width: 70%;
    overflow: hidden;
}

#mainpagenav #mainpage {
    background-color: none;
    float: left;
    display: block;
    width: 25%;
    padding: 3%;
    overflow: hidden;
}

#mainpagenav #mainpage #miniheader {
    background-color: #FF9920;
    padding-top: 60px;
    padding-bottom: 60px;

}

#mainpagenav #mainpage #miniheader #info {
    width: 25%;
    overflow: hidden;

}

#mainpage #miniheader img {
    position: center;

}

#mainpage #info p {
    text-align: center;
    font-family: "Lato", sans-serif;
}

.info {
    color: gray;
}


footer {
    overflow: hidden;
}


/*about us page css*/

#abmaincontent {
    margin: auto;
    width: 90%;
}

.ableft {
    float: left;
    width: 40%;
    padding-left: 5%;
}

.abright {
    float: left;
    width: 40%;
    padding-left: 5%;
}

/* Contact Us page */
#contactus {
    position: center;
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 15px;
}

#contacticon {
    padding-top: 15px;
}


/* general form css */

textarea {
    position: center;
    background-color: white;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 55%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #FF5733;
    border-radius: 4px;
    padding-left: 20px;
}

select {
    position: center;
    background-color: white;
    color: grey;
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #FF5733;
    border-radius: 4px;
    padding-left: 20px;
}

/* Account Page css*/

#accountpage {
    width: 80%;
    margin-left: 10%;
}

#accountpage #accountdiv {
    background-color: none;
    float: left;
    display: block;
    width: 25%;
    padding: 3%;
    overflow: hidden;
}

#accountpage #accountdiv #miniheader {
    background-color: #FF9920;
    padding-top: 80px;
    padding-bottom: 80px;

}

#accountpage #accountdiv #miniheader #info {
    width: 15%;
    overflow: hidden;

}

#acccountpage #miniheader img {
    position: center;

}

#accountdiv #info p {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    font-family: "Lato", sans-serif;
}

#accountinfo {
    background-color: none;
    float: left;
    display: block;
    width: 40%;
    padding: 3%;
    overflow: hidden;
}

/* Services page css */

.headingpara {
    margin: auto;
    border-radius: 10px;
    width: 70%;
}


.headingpara p {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    font-family: "Lato-Bold", sans-serif;
    color: #085f63;
}

* {
    box-sizing: border-box
}

.mySlides1, .mySlides2 {
    display: none
}

img {
    vertical-align: middle;
}


/* Slideshow container */
.services {
    width: 90%;
    margin: auto;
    padding: 2%;
}

.container {
    float: left;
    width: 50%;
    position: relative;
    margin: auto;
    margin-bottom: 200px;
}

.insidecontainer {
    width: 70%;
    height: 600px;
    margin: auto;
    border: solid;
    border-width: 5px;
    border-color: #085f63;
    border-radius: 10px;
    background-color: #49BEB7;
    padding: 20px;
}

.insidecontainer h1 {
    text-align: center;
    font-family: "Lato-Bold", sans-serif;
    font-size: 300%;
}

.insidecontainer p {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 120%;
}

.insidecontainer li {
    font-family: "Lato", sans-serif;
    font-size: 120%;
}

.pcenter {
    font-family: "Lato-Bold", sans-serif;
    text-align: center;
    font-size: 130%;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
    background-color: #FF5733;
    color: black;
}


/*table css */

.pricing {
    margin: auto;
    margin-top: 20px;
}

.pricing th {
    font-size: 200%;
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
}

.pricing p {
    font-size: 140%;
}

.pricing td {
    font-size: 140%;
    text-align: left;
}

.pricing th, td {
    padding-left: 30px;
    padding-right: 30px;
}


/* Confirmation Pages */

.confirm{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 150%;
}

.confirm p{
     margin-bottom: 40px;
}

/* View order page */

.vieworder{
    width: 50%;
    height: 400px;
    margin: auto;
    border: solid;
    border-width: 5px;
    border-color: #FF5733;
    border-radius: 10px;
    background-color: #EDDEA4;
    padding: 20px;
    margin-bottom: 30px;
}

#vieworder {
    text-align: center;
    font-family: "Lato-Bold", sans-serif;
    font-size: 200%;
}

/*required field indicator*/
label.required::before {
    content: ' *';
    color: red;
}

/*footer Css*/

.footer {
    background-color: #FF5733;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 300px;
    height: 100px; /* Height of the footer */
}