{%load static%}
html {
    background-color: #FFCF3B;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #FFCF3B;
    margin:0;
}

a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    background-color: #FF9920;
    border-radius: 15px;
}


/*@font-face {
    font-family: Lato;
    /*src:'{% static 'Lato/Lato-Regular.ttf' %}';
    src: url('../Lato/Lato-Regular.ttf');
*/

@font-face {
    font-family: Lato;
    /*src:'{% static 'Lato/Lato-Regular.ttf' %}';*/
    src: url('../Lato/Lato-Regular.ttf');
}


header{
	margin-bottom: 150px;
}

#navbar{
    background-color: #FF5733;
    position: fixed;
    width: 100%;
    top:0;
    margin:auto;
    padding: 0px;
    overflow: hidden;

}
.mainnav {
    float: right;
    width: auto;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 10px;
    overflow: hidden;
}

.mainnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mainnav li {
    float: left;
}


/* icon left
.mainnav li img{
 margin-right: 0px;
}
*/

.mainnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.mainnav li a:hover {
    background-color: #FF9920;
    border-radius: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

/*
	CSS for sign in page
*/

#signin {
    position: center;
    background-color: #FF9920;
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 15px;
}

#signinicon {
    padding-top: 15px;
}

#signin p {
    text-align: center;
    font-size: 140%;
    padding: 0;
}

#signin p a {
    color: grey;
}

.makesmall {
    font-size: 60%;
}

form {
    text-align: center;
}

input[type=text], input[type=email], input[type=password] {
    position: center;
    background-color: white;
    color: grey;
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #FF5733;
    border-radius: 4px;
    padding-left: 20px;
}


/*
	CSS for sign up page
*/

#signup {
    position: center;
    background-color: #FF9920;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 15px;
}

#signupicon {
    padding-top: 15px;
}

#signup p {
    text-align: center;
    font-size: 140%;
    padding: 0;
}

#signup p a {
    color: grey;
}

/*
	Button CSS
*/

#button {
    position: center;
    background-color: #FF5733;
    display: block;
    color: white;
    width: 55%;
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1px;
}

#button p {
    padding: 15px;
    margin: 0px;
    font-size: 80%;
}


#buttonmain {
    position: center;
    background-color: #FF5733;
    display: block;
    color: white;
    width: 15%;
    padding: auto;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1px;
}

#buttonmain p {
    text-align: center;
    padding: 15px;
    margin: auto;
    font-size: 100%;
}

/*
Main page css
*/

#icon {
    float: left;
    overflow: hidden;
}

#welcome {
    text-align: center;
    overflow: hidden;
}

#mainpagenav{
	margin:auto;
	width: 60%;
	overflow: hidden;

}


#mainpagenav #mainpage{
	background-color: none;
	float: left;
	display: block;
	width: 25%;
	padding: 3%;
	overflow:hidden;
}

#mainpagenav #mainpage #miniheader{
	background-color: #FF9920;
	padding-top: 60px;
	padding-bottom: 60px;

}

#mainpagenav #mainpage #miniheader #info{
	width: 25%;
	overflow:hidden;

}

#mainpage #miniheader img {
	position: center;

}

#mainpage #info p {
    text-align: center;
    font-family: "Lato", sans-serif;
}

.info {
    color: gray;
}


footer {
    overflow: hidden;
}


/*about us page css*/

#abmaincontent {
	margin:auto;
	width:90%;
}

.ableft{
	float: left;
	width: 40%;
	padding-left: 5%;
}

.abright{
	float: left;
	width: 40%;
	padding-left: 5%;
}

/* Contact Us page */
#contactus{
	position: center;
	display: block;
	width: 40%;
	margin-left:auto;
	margin-right: auto;
	clear:both;
	padding: 15px;
}

#contacticon{
	padding-top: 15px;
}


/* general form css */

textarea{
    position: center;
    background-color: white;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 55%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #FF5733;
    border-radius: 4px;
    padding-left: 20px;
}

select{
    position: center;
    background-color: white;
    color: grey;
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #FF5733;
    border-radius: 4px;
    padding-left: 20px;
}