html {
    background-color: #F7E498;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #F7E498;
    margin: 0;
}

a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding:5px;
    font-family: "Lato", sans-serif;
}

#mainb a:hover {
    background-color: #FF5733;
    border-radius: 5px;
}


/*@font-face {
    font-family: Lato;
    /*src:'{% static 'Lato/Lato-Regular.ttf' %}';
    src: url('../Lato/Lato-Regular.ttf');
*/

@font-face {
    font-family: Lato;
    /*src:'{% static 'Lato/Lato-Regular.ttf' %}';*/
    src: url('../Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Bold;
    /*src:'{% static 'Lato/Lato-Regular.ttf' %}';*/
    src: url('../Lato/Lato-BoldItalic.ttf');
}


header {
    margin-bottom: 150px;
}

#navbar {
    background-color: #FF5733;
    position: fixed;
    width: 100%;
    top: 0;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    z-index: 3;
}

.mainnav {
    float: right;
    width: auto;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 10px;
    overflow: hidden;
    z-index: 3;
}

.mainnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 3;
}

.mainnav li {
    float: left;
    z-index: 3;
}


/* icon left
.mainnav li img{
 margin-right: 0px;
}
*/

.mainnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.mainnav li a:hover {
    background-color: #FF9920;
    border-radius: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

/*
	CSS for sign in page
*/

#signin {
    position: center;
    background-color: #FF9920;
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 15px;
}

#signinicon {
    padding-top: 15px;
}

#signin p {
    text-align: center;
    font-size: 140%;
    padding: 0;
}

#signin p a {
    color: grey;
}

.makesmall {
    font-size: 80%;
}

form {
    text-align: center;
}

input[type=text], input[type=email], input[type=password] {
    position: center;
    background-color: white;
    color: black;
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #FF5733;
    border-radius: 4px;
    padding-left: 20px;
}


/*
	CSS for sign up page
*/

#signup {
    position: center;
    background-color: #FF9920;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 15px;
}

#signupicon {
    padding-top: 15px;
}

#signup p {
    text-align: center;
    font-size: 140%;
    padding: 0;
}

#signup p a {
    color: grey;
}

/*
	Button CSS
*/

#button {
    position: center;
    background-color: #FF5733;
    display: block;
    color: white;
    width: 55%;
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1px;
}

#button p {
    padding: 15px;
    margin: 0px;
    font-size: 80%;
}


#buttonmain {
    position: center;
    background-color: #FF5733;
    display: block;
    color: white;
    width: 15%;
    padding: 12px 20px;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1px;
}

#buttonstandard {
    position: center;
    background-color: #FF5733;
    display: block;
    color: white;
    width: 55%;
    border: 1px solid #FF5733;
    padding: auto;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;
}

#editbutton, #orderbutton {
    position: center;
    background-color: #FF5733;
    display: block;
    color: white;
    width: 70%;
    border: 1px solid #FF5733;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;
}

#secondmainbutton {
    position: center;
    background-color: #FF5733;
    display: block;
    color: white;
    width: 10%;
    border: 1px solid #FF5733;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;
}

#buttonmain p {
    text-align: center;
    padding: 15px;
    margin: auto;
    font-size: 100%;
}

#buttonconfirm {
    position: center;
    background-color: #FF5733;
    display: block;
    color: white;
    width: 30%;
    border: 1px solid #FF5733;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
}

#buttonconfirm p {
    text-align: center;
    padding: 5px;
    margin: auto;
    font-size: 80%;
}

#buttonconfirm  p a{

}



/*
Main page css
*/

#icon {
    float: left;
    overflow: hidden;
    padding-left: 15px;
    padding-top: 5px;
}

#welcome {
    text-align: center;
    overflow: hidden;
}

#mainpagenav {
    margin: auto;
    margin-left: 23%;
    width: 70%;
    overflow: hidden;
}

#mainpagenav #mainpage {
    background-color: none;
    float: left;
    display: block;
    width: 25%;
    padding: 3%;
    overflow: hidden;
}

#mainpagenav #mainpage #miniheader {
    background-color: #FF5733;
    padding-top: 60px;
    padding-bottom: 60px;

}

#mainpagenav #mainpage #miniheader #info {
    width: 25%;
    overflow: hidden;

}

#mainpage #miniheader img {
    position: center;

}

#mainpage #info p {
    text-align: center;
    font-family: "Lato", sans-serif;
}

.info {
    color: gray;
}


footer {
    overflow: hidden;
}


/*about us page css*/

.content{
    margin:auto;
}

.content .section1 {
    margin: auto;
    height: 350px;
}

.content .section2 {
    background-color: #FF5733;
    height: 650px;
}

.section1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.insidecontent{
    padding-top: 20px;
    padding-bottom: 20px;
    margin:auto;
    padding-left: 25%;
    padding-right: 25%;
}


/* Contact Us page */
#contactus {
    position: center;
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 15px;
}

#contacticon {
    padding-top: 15px;
}


/* general form css */

textarea {
    position: center;
    background-color: white;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 55%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #FF5733;
    border-radius: 4px;
    padding-left: 20px;
}

select {
    position: center;
    background-color: white;
    color: grey;
    width: 55%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #FF5733;
    border-radius: 4px;
    padding-left: 20px;
}

/* Account Page css*/

#accountpage {
    width: 80%;
    margin-left: 10%;
}

#accountpage #accountdiv {
    background-color: none;
    float: left;
    display: block;
    width: 25%;
    padding: 3%;
    overflow: hidden;
}

#accountpage #accountdiv #miniheader {
    background-color: #FF9920;
    padding-top: 80px;
    padding-bottom: 80px;

}

#accountpage #accountdiv #miniheader #info {
    width: 15%;
    overflow: hidden;

}

#acccountpage #miniheader img {
    position: center;

}

#accountdiv #info p {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    font-family: "Lato", sans-serif;
}

#accountinfo {
    background-color: none;
    float: left;
    display: block;
    width: 40%;
    padding: 3%;
    overflow: hidden;
}

/* Services page css */

.services{
    width: 100%;
    overflow: hidden;
    height: 500px;
}

.servicesec1{
    float: left;
    width: 60%;
    height: 500px;
    background-color: #49BEB7;
}

.sec1text{
    margin: auto;
    margin-top: 15%;
    width: 40%;
}

.sec1text p{
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

#serviceprice p a{
    position: center;
    background-color: #FF5733;
    display: block;
    color: black;
    width: 45%;
    padding: 15px 20px;
    margin: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px;
    font-size: 70%;
}


#serviceprice p a:hover {
    background-color: #FF9920;
    color: white;
}

.servicesec2{
    background-color: #085f63;
    float: left;
    width: 40%;
    height: 500px;
    overflow: hidden;
}

.servicesec2 img{
    margin-top: 10%;
}

.servicesec3{
    height: 600px;
    margin-top: 10%;
}
#serviceprice{

}


/* Confirmation Pages */

.confirm{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 150%;
}

.confirm p{
     margin-bottom: 40px;
}

/* View order pages */

.orderhistorytable{
    margin: auto;
    width: 90%;
    margin-bottom: 50px;
}

.orderhistorytable td, .orderhistorytable th{
    border: 2px solid #ddd;
    padding: 8px;
}

.orderhistorytable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FF5733;
    color: white;
}

#viewordertitle{
    text-align: center;
}

.vieworder{
    width: 50%;
    height: 400px;
    margin: auto;
    border: solid;
    border-width: 5px;
    border-color: #FF5733;
    border-radius: 10px;
    background-color: #EDDEA4;
    padding: 20px;
    margin-bottom: 30px;
}

#vieworder {
    text-align: center;
    font-family: "Lato-Bold", sans-serif;
    font-size: 200%;
}

/*required field indicator*/
label.required::before {
    content: ' *';
    color: red;
}

/*************************Registration Css*********************************/
.container{
    margin:auto;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 150%;
}

.container p{
    margin-top: 30px;
}

.reset input{
    margin:auto;
    width:40%;
}

/****************************Tracking*************************************/

.hidden{
	display:none;
}

#trackh1{
	text-align:center;
    font-size: 150%;
}

button{
	padding: 5px 10px;
	border: 1px solid black;
	transition: 250ms background-color;
}

button:hover{
	cursor: pointer;
	background-color: black;
	color: white;
}

button:disabled:hover{
	opacity:0.6;
	cursor: not-allowed;
}

.text-center{
	text-align: center;
}

.container{
	max-width:800px;
	margin: 150px auto 0 auto;
	padding: 40px;
}

#stepProgressBar{
	display:flex;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 40px;
	justify-content: space-between;
	align-items: flex-end;
}

.step{
	text-align:center;
}

.step-text{
	margin-bottom: 10px;
	color: black;
    font-size: 70%;
}

.bullet{
    font-size: 60%;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	border: 1px solid black;
	color: black;
	display: inline-block;
	position: relative;
	transition: background-color 500ms;
	line-height: 20px;
}

.bullet.completed{
	color: white;
	background-color: black;
}

.bullet.completed::after{
	content: '';
	position:absolute;
	height:1px;
	width: 110px;
	background-color: black;
	right: -115px;
	bottom: 10px;
}

/********************************Footer Css*************************************/

.footer {
    background-color: #FF5733;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 300px;
    height: 100px; /* Height of the footer */
}

.disabledfield {
    background-color: gainsboro !important;
}