{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block styles %}
    {% endblock %}
</head>

<body>
    <header>
        <div class="businessnavbar">
            <nav class="businessnav">
                <ul>
                    <li class="center"><img id="icon" src="{% static 'images/logo.png' %}" alt="Logo" class="center" width=80 height=70></li>
                    <li> <a href="{% url 'staffhome' %}"> Home </a></li>
                    <li><a href="/account/">View Account</a></li>
                    <li><a href=/business/currentorders/>Current Orders</a></li>
                    <li><a href=/business/storeorders/>Order History</a></li>
                    {%if request.user.is_manager %}
                    <li><a href="/business/company_services/">Services</a></li>
                    <li><a href="/business/staff/">Staff</a></li>
                    <li><a href="/business/feedback/">Customer Feedback</a></li>
                    <li><a href=/business/generalinfo/>General Information</a></li>

                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="homepage"><a href="{% url 'logout' %}">Log out</a></li>

                    {% else %}
                        <li class="homepage"><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
        Failed to replace content
    {% endblock %}

    {% block script %}
    {% endblock %}

     {% comment %}
     <footer class="footer">

    </footer>{% endcomment %}
</body>
</html>