{% extends 'business/businessbase.html' %}
{% load static %}
<head>
    {% block styles %}
        <title>Current Orders</title>
        <link rel="stylesheet" href="{% static 'css/businessstyle.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}

    <div class="currentOrders">
        <div class="insidecurrent">
            <h1> Current Orders</h1>
            <div class="searchadd">
                <div class="searchpart1">
                    <form id="searchbar"  method="get">
                        <input type="text" class="form-control" name="q"id="id_q" placeholder="search order..."value="{{ query }}">
                        <button type="submit"><img id="=" src="{% static 'images/search.png' %}" alt="search" width=30
                        height=30></button>
                    </form>
                </div>
            </div>

                {% if query %}
                    <table class="currentOrdersTable">
                        <tr>
                            <th>Order #</th>
                            <th> Name </th>
                            <th> Status </th>
                        </tr>
                        {% for order in SearchOrder %}
                            <tr>
                                <td>{{ order.pk }}</td>
                                <td><a href=/order_details/?order={{ order.id }}> {{ order }} </a>  </td>
                                <td> {{ order.current_status }} </td>
                            </tr>
                            <br>

                         {% endfor %}
                    </table>

                {% endif %}

            <table class="currentOrdersTable">
                <tr>
                    <th>Order #</th>
                    <th> Name </th>
                    <th> Status </th>
                </tr>

                {% for order in orders %}
                    {% if order.status.name != 'Order delivered' %}
                        <tr>
                            <td>{{ order.pk }}</td>
                            <td><a href=/order_details/?order={{ order.id }}> {{ order }} </a>  </td>
                            <td> {{ order.current_status }} </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
</body>