{% extends 'business/businessbase.html' %}
{% load static %}
<head>
    {% block styles %}
        <title>Current Orders</title>
        <link rel="stylesheet" href="{% static 'css/businessstyle.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}
    <div class="currentOrders">
        <div class="insidecurrent">
            <h1> Order Details </h1>

            <table class="currentOrdersTable">
                <tr>
                    <th>Order #</th>
                    <th> Name </th>
                    <th> Status </th>
                </tr>

                {% for order in orders %}
                    {% if order.status.name != 'Order delivered' %}
                        <tr>
                            <td>{{ order.pk }}</td>
                            <td><a href=/order_details/?order={{ order.id }}> {{ order }} </a>  </td>
                            <td> {{ order.current_status }} </td>
                        </tr>
                        <br>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
</body>