{% extends 'business/businessbase.html' %}
{% load static %}
<head xmlns="http://www.w3.org/1999/html">
    {% block styles %}
        <title>Current Staff</title>
        <link rel="stylesheet" href="{% static 'css/businessstyle.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}

    <div class="moveright">
            <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo"
                                                           class="center" width=40 height=40>
                <span class="popuptext" style="width:350px" id="myPopup">

                    <p> Welcome to Current Staff!</p>
                    <p> View and manage staff at your company. Staff members have the ability to view orders, add items &
                    change the status of the order. </p>
                    <p> To create a staff account for your staff member, click the button labeled "Create Staff Account"</p>
                    <p> To delete a staff account: </p>
                    <ul> <li> Click the <img src="{% static 'images/delete.png' %}" alt="Delete" width=15 height=15> beside the name of the staff
                    member.</li> </ul>
                    <hr>

             </span>
            </div>
    </div>

    <div class="currentOrders">
        <div class="insidecurrent">
            <h1> Current Staff</h1>
            <button id="addstaff"><a href="/business/add_staff/" class="makesmall">Create Staff Account  </a></button>
            <table class="currentOrdersTable">
                <tr>
                    <th>Name</th>
                    <th> Username </th>
                    <th> Email </th>
                </tr>

                {% for emp in staff %}
                        <tr>
                            <td>{{ emp.first_name }} {{ emp.last_name }} <a href="{% url 'delete_staff_view' obj_id=emp.id %}" >
                                                    <img id="delete" src="{% static 'images/delete.png' %}" alt="Delete" width=15 height=15>
                                                    <i class="fa fa-trash"></i>
                                                </a> </td>
                            <td>{{ emp.username }} </a> </td>
                            <td> {{ emp.email }} </td>
                        </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'script/popup.js' %}"></script>
{% endblock %}

</body>