{% extends 'business/businessbase.html' %}
{% load static %}
<head>
    {% block styles %}
        <title>Current Orders</title>
        <link rel="stylesheet" href="{% static 'css/businessstyle.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}

    <div class="moveright">
        <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center"
                                                       width=40 height=40>
            <span class="popuptext" id="myPopup">

              <p> Welcome to Current Orders!</p>
              <p> The table displays a list of your company's orders that have not been completed.</p>
              <p> To search for an order:</p>
              <p> <ol>
                    <li> Click in search field labeled "Search order".</li>
                    <li> Type in the order number or name of the order you would like to find.</li>
                    <li> Press your enter key or click the search icon to search.</li>
                  </ol>
                </p>
                <hr>

          </span>
        </div>
    </div>

    <div class="currentOrders">
        <div class="insidecurrent">
            <h1> Current Orders</h1>
            <div class="searchadd">
                <div class="searchpart1">
                    <form id="searchbar" method="get">
                        <input type="text" class="form-control" name="q" id="id_q" placeholder="search order..."
                               value="{{ query }}">
                        <button type="submit"><img id="=" src="{% static 'images/search.png' %}" alt="search" width=30
                                                   height=30></button>
                    </form>
                </div>
            </div>

            {% if query %}
                <table class="currentOrdersTable">
                    <tr>
                        <th>Order #</th>
                        <th> Name</th>
                        <th> Status</th>
                    </tr>
                    {% for order in search_order %}

                        <tr>
                            <td>{{ order.pk }}</td>
                            <td><a href=/business/order_details/?order={{ order.id }}> {{ order }} </a></td>
                            <td> {{ order.current_status }} </td>
                        </tr>
                        <br>

                    {% endfor %}
                </table>

            {% endif %}

            <table class="currentOrdersTable">
                <tr>
                    <th>Order #</th>
                    <th> Name</th>
                    <th> Status</th>
                </tr>

                {% for order in orders %}
                    {% if order.current_status != 'D' %}
                        <tr>
                            <td>{{ order.pk }}</td>
                            <td><a href=/business/order_details/?order={{ order.id }}> {{ order }} </a></td>
                            <td> {{ order.current_status }} </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            {% include 'business/order_pagination.html' with orders=orders %}

        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'script/popup.js' %}"></script>
{% endblock %}
</body>