{% extends 'business/businessbase.html' %}
{% load static %}
<head>
    {% block styles %}
        <title>General Information</title>
        <link rel="stylesheet" href="{% static 'css/businessstyle.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}
    <div class="content">
        <div class="generalbackground">
            <h1 id="h1generalinfo">General Information</h1>
            <p id="pcenter">More about how Alora helps you meet your company goals.</p>
        </div>

        <div class="section2">
            <div class="insidecontent">
                <h1> Updating Company and Order Information </h1>
                <p> The following provides instructions on how to make changes to your company service and order information. </p>

            </div>
        </div>

        <div class="section3">
            <div class="insidecontent">
            <h1> Tracking Information</h1>
            <table class="trackinginfo">
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Reference</th>
                    <th>Description</th>
                </tr>

                <tr>
                    <td> <img src="{% static 'images/contactcheck.png' %}" alt="Logo" class="center" width=50 height=50> </td>
                    <td> Order Processed</td>
                    <td> P </td>
                    <td> Order have been received by the company. </td>
                </tr>

                <tr>
                    <td> <img src="{% static 'images/contactcheck.png' %}" alt="Logo" class="center" width=50 height=50> </td>
                    <td> Order Picked Up</td>
                    <td> PU </td>
                    <td> Order has been picked up by a driver from customer's pick up location </td>
                </tr>

                <tr>
                    <td> <img src="{% static 'images/contactcheck.png' %}" alt="Logo" class="center" width=50 height=50> </td>
                    <td> Order Cleaned</td>
                    <td> CL </td>
                    <td> Order has been cleaned or is in the process of being cleaned</td>
                </tr>

                <tr>
                    <td> <img src="{% static 'images/contactcheck.png' %}" alt="Logo" class="center" width=50 height=50> </td>
                    <td> Order Complete</td>
                    <td> CP </td>
                    <td> Order is completed and ready to be delivered. </td>
                </tr>

                <tr>
                    <td> <img src="{% static 'images/contactcheck.png' %}" alt="Logo" class="center" width=50 height=50> </td>
                    <td> Order En route</td>
                    <td> EN </td>
                    <td> Order is en route to the customer's drop off location</td>
                </tr>

                <tr>
                    <td> <img src="{% static 'images/contactcheck.png' %}" alt="Logo" class="center" width=50 height=50> </td>
                    <td> Order Delivered</td>
                    <td> D </td>
                    <td> Order has been delivered. </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
{% endblock %}
</body>