{% extends 'business/businessbase.html' %}
{% load static %}
<head>
    {% block styles %}
        <title>General Information</title>
        <link rel="stylesheet" href="{% static 'css/businessstyle.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}
    <div class="content">
        <h1 id="h1generalinfo">General Information</h1>
        <p id="pcenter">More about how Alora helps you meets your company goals</p>
        <div class="section1">

        </div>

        <div class="section2">

        </div>

        <div class="section3">

        </div>
    </div>
{% endblock %}
</body>