{% extends 'business/businessbase.html' %}
{% load static %}
<head>
    {% block styles %}
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/businessstyle.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}

    <div class="indexpage">
    <div class="content">
         <h1 id="welcome"> Welcome to Alora, {% if user.is_authenticated %} {{ request.user.first_name }} {% else %}
        Guest{% endif %}</h1>
    </div>
    </div>
{% endblock %}
</body>