{% extends 'business/businessbase.html' %}
{% load static %}
<head>
    {% block styles %}
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/businessstyle.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}
     <div class="moveright">
        <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center" width=40 height=40>
          <span class="popuptext" style="width:350px" id="myPopup">

                <p> Navigate using the navigation bar on the left.</p>
                <p> Click "View Account" to edit and manage your account information.</p>
                <p> Click "Current Orders" to view and search orders that have not been completed.</p>
                <p> Click "Order History" to view and search all company orders. </p>
                {%if request.user.is_manager %}
                <p> Click "View Services" to add and manage your company services.</p>
                <p> Click "View Staff" to view and manage your account staff members.</p>
                <p> Click "Customer" to view all your customer feedback</p>
                <p> Click "General Information" to learn more about Alora services.</p>
               {% endif %}
                <p> Click "Logout" to sign out of your account.</p>
              <hr>

          </span>
        </div>
    </div>

    <div class="indexpage">
    <div class="content">
         <h1 id="welcome"> Welcome to Alora, {% if user.is_authenticated %} {{ request.user.first_name }} {% else %}
        Guest{% endif %}</h1>
    </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'script/popup.js' %}"></script>
{% endblock %}

</body>