{% extends 'business/businessbase.html' %}
{% load static %}
<head>
    {% block styles %}
        <title>Order Details</title>
        <title>Current Orders</title>
        <link rel="stylesheet" href="{% static 'css/businessstyle.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>
<body>
{% block content %}

    <div class="moveright">
        <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center" width=40 height=40>
          <span class="popuptext"  style="width:500px" id="myPopup">

              <p> Welcome to Order Details</p>
              <p> View the order details of an order.</p>
              <p> To add add item: </p>
              <p> <ol>
                        <li> Click the "Add Item" button at the top of the page or scroll down to the add item
                        feature.</li>
                        <li> In the section labeled "Add Items to Order":</li>
                        <li> Click the drop down field labeled "Item" to choose the item your will like to add.</li>
                        <li> Click the drop down labeled "Order" to select to order to add to. </li>
                        <li> In the field labeled "Quantity" type the quantity of the item you will like
                            to add or use the up and down buttons on the right side of the field to increase or
                            decease the quantity.</li>
                        <li> Click "add" to add the item to the order.</li>
                  </ol>
              </p>

              <p> To change the order status: </p>
              <p> <ol>
                        <li> Click the "Update Status" button at the top of the page or scroll down to the add item
                        feature.</li>
                        <li> In the section labeled "Update Status".</li>
                        <li> Click the drop down field labeled "New Status" to choose the status you would like change the order to.</li>
                        <li> Click "update" to update the status of the order.</li>
                 </ol>
              <hr>
          </span>
        </div>
    </div>

    <div class="detailspage">
        <div class="detailscontent">

        <h1> Order Details </h1>
            <div class="additem" >
                 <p><a href="#contentadd">Add Item</a> </p>
                 <p><a href="#contentadd">Change Status</a> </p>
            </div>


            <table class="orderDetailsTable">
                <tr>
                    <th> Details</th>
                    <th> Data</th>
                </tr>

                <tr>
                    <th> Order #</th>
                    <td> {{ order.pk }}</td>
                </tr>

                <tr>
                    <th> Name</th>
                    <td> {{ order }}</td>
                </tr>

                <tr>
                    <th> Pick Up Location</th>
                    <td> {{ order.pickup_location }}</td>
                </tr>

                <tr>
                    <th> Drop Off Location</th>
                    <td> {{ order.dropoff_location }}</td>
                </tr>

                <tr>
                    <th> Pick Up Date/Time</th>
                    <td> {{ order.pickup_at }}</td>
                </tr>

                <tr>
                    <th> Drop Off Date/Time</th>
                    <td> {{ order.dropoff_at }}</td>
                </tr>

                <tr>
                    <th> Status</th>
                    <td>{{ order.current_status }}</td>
                </tr>

                <tr>
                    <th> Items</th>
                    <td>{% for details in orderdetails %}
                        Item:{{ details }} , ${{ details.item.price }}
                        <br>
                    {% endfor %}</td>
                </tr>
            <tr>
                    <th> Price </th>
                    <td>${{ price }}</td>
                </tr>
            </table>


        <div class="contentadd" id="contentadd">
            <h2 class="center" > Add Items to Order</h2>
            <form method="post" >
                {% csrf_token %}
                {{ form.as_p }}
                 <button name="button1" id="addbutton" type="submit">Add</button>
            </form>
        </div>

        <div class="contentadd" id="contentadd">
            <h2 class="center" >Update Status</h2>
            <form method="post">
                {% csrf_token %}
                 <select id="status" name="status" >
                     <option value="" disabled selected hidden>New Status</option>
                     <option value="P"> Processed</option>
                     <option value="PU"> Picked up</option>
                     <option value="CL"> Cleaning</option>
                     <option value="CP"> Complete</option>
                     <option value="ER"> Enroute</option>
                     <option value="D"> Delivered</option>
                 </select>
                <button name="button2" id="addbutton"  type="submit">Update</button>
            </form>
             </div>
         </div>
     </div>
{% endblock %}

{% block script %}
    <script src="{% static 'script/popup.js' %}"></script>
{% endblock %}

</body>
</html>