
{% extends 'business/businessbase.html' %}
{% load static %}

<head>
    {% block styles %}
        <title>Services</title>
        <link rel="stylesheet" href="{% static 'css/businessstyle.css' %}">
    {% endblock %}
</head>
<body>
{% block content %}

    <div class="moveright">
        <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center" width=40 height=40>
          <span class="popuptext" style="width: 500px" id="myPopup">

              <p> Welcome to Services</p>
              <p> View the services your company offers.</p>
              <p> Click the "Edit Services" button at the top of the page or scroll down to the add or update your services.</p>
              <p> To add a new service: </p>
              <p> <ol>
                        <li> In the section labeled "Add new services":</li>
                        <li> In the field labeled "Name" type the name of the new service you would like to add.</li>
                        <li> Click the drop down labeled "Store" to select the name of your store. </li>
                        <li> Click the "Create" button to add the new service.</li>
                  </ol>
              </p>

              <p> To add an item to a service: </p>
              <p> <ol>
                        <li> In the section labeled "Add new item":</li>
                        <li> In the field labeled "Name" type the name of the new item you would like to add to a service.</li>
                        <li> Click the drop down labeled "Services" to select the service you would like to add the item to. </li>
                        <li> In the field labeled "Price" type the price of the item.</li>
                        <li> Click the "Add" button to add the new item.</li>
                 </ol>
              <hr>

          </span>
        </div>
    </div>

    <div class="servicespage">
        <div class="servicecontent">
            <h1> Services </h1>
            <p> The following are the services your company offers along with Alora. Please note that these services reflect those your
                customers are able to order at any given time. Contact our main office to make changes to your services when needed. This can
                also be done below using our add service function.</p>

            <div class="additem" >
            <p><a href="#contentaddservice">Edit Services</a> </p>
            </div>

                {% for service in services %}
                    <h3 class="shift"> {{ service }} <a href="{% url 'delete_service_view' obj_id=service.id %}" alt="delete service"> delete <i class="fa fa-trash"></i></a></h3>
                        <table class="servicestable">
                             <tr>
                                 <th>Item</th>
                                 <th> Price</th>
                             </tr>

                            {%  for itemlist in itemsQuery %}
                                {% for item in itemlist %}
                                    {% if item.services == service %}
                                        <tr>
                                            <td>{{item}}
                                                <a href="{% url 'delete_item_view' obj_id=item.id %}" >delete<i class="fa fa-trash"></i></a>
                                            </td>
                                            <td> $ {{ item.price }}</td>
                                         </tr>
                                    {% endif%}
                                {% endfor %}
                            {% endfor %}
                        </table>
                {% endfor %}


                <div id="contentaddservice" class="contentaddservice">
                    <h2 class="center"> Add New Service</h2>
                    <form method="post" >
                    {% csrf_token %}
                    {{ form.as_p }}
                     <button name="submit1" id="addbutton" type="submit">Create</button>
                    </form>
                </div>

                <div id="contentaddservice" class="contentaddservice">
                    <h2 class="center" > Add New Item</h2>
                    <form method="post" >
                    {% csrf_token %}
                    {{ form2.as_p }}
                     <button name="submit2" id="addbutton" type="submit">Add</button>
                    </form>
                </div>


        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'script/popup.js' %}"></script>
{% endblock %}

</body>
</html>