{% extends 'business/businessbase.html' %}
{% load static %}
<head>
    {% block styles %}
        <title>Order History</title>
        <link rel="stylesheet" href="{% static 'css/businessstyle.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}
    <table class="orderhistorytable" >
        <tr>
            <th> Order ID</th>
            <th> Order Status</th>
            <th> Pick Up Location </th>
            <th> Drop Off Location </th>
            <th> Pick Up Time </th>
            <th> Drop Off Time </th>
            <th> Store Name</th>
        </tr>

        {% for i in orders %}
            <tr>
                <td> {{ i.pk }}</td>
                {% if i.pk.equals == status.pk%}
                    <td> {{status.status }}</td>
                {% endif %}
                <td> {{ i.pickup_Location }}</td>
                <td> {{ i.dropoff_location }}</td>
                <td> {{ i.pickupTime  }}</td>
                <td> {{ i.dropoffTime  }}</td>
                <td></td>
            </tr>
        {%  endfor %}

    </table>
{% endblock %}
</body>