{% extends 'base.html' %}
{% load static %}
<head>
    {% block styles %}
        <title>Order Details</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="content">
        <h1 id="headinghistory"> Order Details </h1>
        <table class="orderDetailsTable">
            <tr>
                <th> Details</th>
                <th> Information</th>
            </tr>

            <tr>
                <th> Order #</th>
                <td> {{ order.pk }}</td>
            </tr>

            <tr>
                <th> Name</th>
                <td> {{ order }}</td>
            </tr>

            <tr>
                <th> Pick Up Location</th>
                <td> {{ order.pickup_location }}</td>
            </tr>

            <tr>
                <th> Drop Off Location</th>
                <td> {{ order.dropoff_location }}</td>
            </tr>

            <tr>
                <th> Pick Up Date/Time</th>
                <td> {{ order.pickup_at }}</td>
            </tr>

            <tr>
                <th> Drop Off Date/Time</th>
                <td> {{ order.dropoff_at }}</td>
            </tr>

            <tr>
                <th> Status</th>
                <td>{{ order.status }}</td>
            </tr>

            <tr>
                <th> Items</th>
                <td>{% for details in orderdetails %}
                    Item:{{ details.service }} Quantity: {{ details.quantity }}
                    <br>
                {% endfor %}</td>
            </tr>
        </table>
    </div>

    <div id="buttonmain">
        <p><a href="/order-history/"> Back </a></p>
    </div>
{% endblock %}
</body>
</html>