{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>Order Confirmation</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">

    {% endblock %}
</head>

<body>
{% block content %}

    <div class="confirm">
        <img id="confirmicons" src="{% static 'images/ordercheck.png' %}" alt="Logo" class="center" width=120
             height=120>
        <h2> Order Confirmed !</h2>
        <p> Thank you for placing an order with Alora. We have received your order
            and it is currently being processed. View your order details below. </p>
        <div id="buttonconfirm">
            <p><a href="/order-history/"> View Order Details </a></p>
        </div>
    </div>


{% endblock %}
</body>