{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>Order History</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">

    {% endblock %}
</head>

<body>
{% block content %}


        <div class="moveright">
            <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center" width=40 height=40>
              <span class="popuptext" id="myPopup">

                    <p> This page lists all of your orders. </p>
                    <p> Click on the order number to view the order details of that order.</p>
                    <p> Click the "Back" button to go back to your account.</p>

                  <hr>

              </span>
            </div>
        </div>



        <div class="content">
            <h1 id="headinghistory"> Your Order History</h1>


              <div class="searchpart1">
                    <form id="searchbar" method="get">
                        <input type="text" class="form-control" name="q"id="id_q" placeholder="Search Order"value="{{ query }}">
                        <button type="submit"><img id="" src="{% static 'images/search.png' %}" alt="search" width=30
                     height=30></button>
                    </form>
              </div>


                </div>
                {% if query %}

                    <table class="customerOrdersTable">

                    <tr>
                        <th> Order #</th>
                        <th> Date / Time </th>
                        <th> Status</th>
                    </tr>
                    {% for order in SearchOrder %}
                        <tr>
                                <td><a href=/customer-details/?order={{ order.pk }}> {{ order.pk }} </a>
                                <td>{{ order.created_at}}</td>
                                <td>{{ order.current_status}} </td>
                            </tr>
                    {% endfor %}
                    </table>

                {% endif %}


                <table class="customerOrdersTable">

                    <tr>
                        <th> Order #</th>
                        <th> Date / Time </th>
                        <th> Status</th>
                    </tr>

                    {% for order in core %}
                        {% if request.user.id == order.user_id %}
                            <tr>
                                <td><a href=/customer-details/?order={{ order.pk }}> {{ order.pk }} </a>
                                <td>{{ order.created_at}}</td>
                                <td>{{ order.current_status}} </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
       </div>


    <div id="buttonmain">
        <p><a href="/account/"> Back </a></p>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'script/popup.js' %}"></script>
{% endblock %}
</body>