{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>Order History</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">

    {% endblock %}
</head>

<body>
{% block content %}
            <div class="content">
                <h1 id="headinghistory"> Your Order History</h1>

                <table class="customerOrdersTable">
                    <tr>
                        <th>Order #</th>
                        <th> Name</th>
                        <th> Status</th>
                    </tr>

                    {% for order in core %}
                        {% if request.user.id == order.account_id %}
                            <tr>
                                <td>{{ order.pk }}</td>
                                <td><a href=/customer-details/?order={{ order.id }}> {{ order }} </a></td>
                                <td> {{ order.current_status}} </td>
                            </tr>
                        {% endif %}
                        <br>
                  { {% endfor %}
                </table>
            </div>


    <div id="buttonmain">
        <p><a href="/account/"> Back </a></p>
    </div>

{% endblock %}
</body>