{% extends "base.html" %}

{% load static %}
{% load i18n %}

<!DOCTYPE html>

<head>
    {% block styles %}
            {{ form.media }}
        <title>Place Your Order</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">

    {% endblock %}
</head>

<body>

{% block content %}
    {% if wizard.steps.step1 == 1 %}
    <div class="moveright">
        <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center" width=40 height=40>
          <span class="popuptext" id="myPopup">

              <p> Welcome to our order page!</p>
              <p> Schedule pick and delivery for your laundry and dry cleaning. </p>
              <p> Click on the drop down bar labeled "Choose a store" to select a store for your intended order.</p>
              <p> Click "Continue" to progress in creating your order. </p>

              <hr>

          </span>
        </div>
    </div>
    {% endif %}

    {% if wizard.steps.step1 == 2 %}
    <div class="moveright">
        <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center" width=40 height=40>
            <span class="popuptext" id="myPopup" style="width: 350px">

            <p> Schedule Pick Up</p>
                <p> Enter your street name in the field labeled "Street". e.g. 467 Bloomfield Ave </p>
                <p> Enter your apt/suite number in the field labeled "APT/Suite". e.g. 100 </p>
                <p> Enter your the name of your city in the field labeled "City". e.g. Bloomfield </p>
                <p> Click the drop down field and select a state in the field
                    labeled "Select a State". e.g. New Jersey  </p>
                <p> Enter your zip code in the field labeled "Zip Code". e.g. 07003  </p>
                <p> Click the field labeled "Date/Time" to select a date and time for pick up. e.g. Thu Apr 16, 2020 12:00 pm</p>
                <p> Click the "continue" button to schedule your drop off date and time or the "back" button to change the store. </p>
            <hr>

            </span>
        </div>
    </div>
    {% endif %}

    {% if wizard.steps.step1 == 3 %}
    <div class="moveright">
        <div class="popup" onclick="myFunction()"><img src="{% static 'images/help.png' %}" alt="Logo" class="center" width=40 height=40>
            <span class="popuptext" id="myPopup" style="width: 350px">

            <p> Schedule Drop Off</p>
                <p> Enter your street name in the field labeled "Street". e.g. 467 Bloomfield Ave </p>
                <p> Enter your apt/suite number in the field labeled "APT/Suite". e.g. 100 </p>
                <p> Enter your the name of your city in the field labeled "City". e.g. Bloomfield </p>
                <p> Click the drop down field and select a state in the field
                    labeled "Select a State". e.g. New Jersey  </p>
                <p> Enter your zip code in the field labeled "Zip Code". e.g. 07003  </p>
                <p> Click the field labeled "Date/Time" to select a date and time for drop off. e.g. Thu Apr 16, 2020 12:00 pm</p>
                <p> Click the "confirm" button to place your order or the "back" button to change your pick up date and time. </p>
            <hr>

            </span>
        </div>
    </div>
    {% endif %}

    <div class="orderpages">
    <div class="ordering">
        <h1 id="orderingheading">
            {% if wizard.steps.step1 == 1 %}
                Please select a store
                <img id="confirmicons" src="{% static 'images/store.png' %}" alt="Logo" class="center" width=80
             height=80>
            {% endif %}
            {% if wizard.steps.step1 == 2 %}
                Schedule Your Pickup
                <img id="confirmicons" src="{% static 'images/location.png' %}" alt="Logo" class="center" width=80
             height=80>
            {% endif %}
            {% if wizard.steps.step1 == 3 %}
                Schedule Your Drop-off
                <img id="confirmicons" src="{% static 'images/location.png' %}" alt="Logo" class="center" width=80
             height=80>
            {% endif %}
         </h1>

        <form action="" method="post">{% csrf_token %}
            <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}
                                {{ field }}

                                {% for error in field.errors %}
                                    <p style="color: red;">{{ error }}</p>
                                {% endfor %}

                            {% if form.non_field_errors %}
                                <div style="color: red;">
                                    <p>{{ form.non_field_errors }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}
                            {{ field }}

                            {% for error in field.errors %}
                                <p style="color: red;">{{ error }}</p>
                            {% endfor %}

                        {% if form.non_field_errors %}
                            <div style="color: red;">
                                <p>{{ form.non_field_errors }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </table>
            {% if wizard.steps.prev %}
                <button formnovalidate="formnovalidate" id="orderingbutton" name="wizard_goto_step" type="submit"
                        value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
            {% endif %}
            <button id="orderingbutton" type="submit">{% trans "Continue" %}</button>
        </form>
    </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'script/popup.js' %}"></script>
{% endblock %}
</body>