{% extends 'base.html' %}
{% load static %}
<head>

    {% block styles %}
        <title>Order Confirmation</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/alorafavicon.ico' %}" type="image/x-icon">
    {% endblock %}
</head>

<body>
{% block content %}
    <div class="container">
        <h1 id="trackh1"> Track Your Order </h1>
        <div id="stepProgressBar">
            <div class="step">
                <p class="step-text"> Order processed </p>
                <div class="bullet"> 1</div>
            </div>

            <div class="step">
                <p class="step-text"> Order Picked Up</p>
                <div class="bullet"> 2</div>
            </div>

            <div class="step">
                <p class="step-text"> Order Cleaning </p>
                <div class="bullet"> 3</div>
            </div>

            <div class="step">
                <p class="step-text"> Order Complete </p>
                <div class="bullet"> 4</div>
            </div>

            <div class="step">
                <p class="step-text"> Order Enroute</p>
                <div class="bullet"> 5</div>
            </div>

            <div class="step">
                <p class="step-text"> Order Delivered</p>
                <div class="bullet"> 6</div>
            </div>

        </div>

    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        const bullets= [...document.querySelectorAll('.bullet')];
        var i;
        var myId= self.request.id;

        {% for order in orders %}
            {% if myId == order.pk%}
                {% if order.current_status == "P" %}
                    const currentBullet= bullets[0];
                    currentBullet.classList.add('completed');
                {% endif %}

                {% if order.current_status == "PU" %}
                    for(i=0; i<2;i++) {
                        const currentBullet = bullets[i];
                        currentBullet.classList.add('completed');
                    }
                {% endif %}

                {% if order.current_status == "CL" %}
                     for(i=0; i<3;i++) {
                        const currentBullet = bullets[i];
                        currentBullet.classList.add('completed');
                    }
                {% endif %}

                {% if order.current_status == "CP" %}
                    for(i=0; i<4;i++) {
                        const currentBullet = bullets[i];
                        currentBullet.classList.add('completed');
                    }
                {% endif %}

                {% if order.current_status == "ER" %}
                     for(i=0; i<5;i++) {
                        const currentBullet = bullets[i];
                        currentBullet.classList.add('completed');
                    }
                {% endif %}

                {% if order.current_status == "D" %}
                     for(i=0; i<6;i++) {
                        const currentBullet = bullets[i];
                        currentBullet.classList.add('completed');
                    }
                {% endif %}
            {{% endif %}}
        {{% endfor %}}

    </script>
{% endblock %}
</body>